<div class="alert alert-danger" v-if="errorMsg != ''"
	v-html="lng(errorMsg)"></div>
<div class="alert alert-success" v-if="successMsg != ''"
	v-html="lng(successMsg)"></div>

<div id="description">
	<div class="row">
		<h1>Utopszkij_fw WEB programozási keretrendszer</h1>
		<h2>Áttekintés</h2>
		<div class="col-md-4">
			<img alt="images/utopszkij_fw.png" style="width:100%; margin:10px">
		</div>
		<div class="col-md-8">
			<ul>
				<li>PHP, MYSQL backend, vue frontend,</li>
				<li>bootstrap, fontawesome,</li>
				<li>MVC struktúra,</li>
				<li>objektum orientált php/mysql interface,</li>
				<li>több nyelvüség támogatása,</li>
				<li>login/logout/regist rendszer, Google és Facebook login támogatása,</li>
				<li>felhasználói Cookie engedélyezés/tiltás támogatása,</li>
				<li>usergroups rendszer,</li>
				<li>SEO url támogatása,</li>
				<li>aszinkron (scroll függő) kép betöltés,</li>
				<li>facebook megosztás támogatása,</li>
				<li>egyszerű telepíthetőség, nem szükséges konzol hozzáférés,</li>
				<li>verzió követés a github -ról, verzió függő adatbázis modosítás támogatása,</li>
				<li>php és vue unittest rendszer</li>
			</ul>	
		</div>
	</div>
</div>	
