<div class="alert alert-danger" v-if="errorMsg != ''"
	v-html="lng(errorMsg)"></div>
<div class="alert alert-success" v-if="successMsg != ''"
	v-html="lng(successMsg)"></div>

<div id="description">
	<section id="imgHead">
		<div class="row" style="height:50%">
			<div class="col-12">&nbsp;</div>
			<div class="col-12 text-center">
				<h2>utopszkij_fw</h2>
				<h3>php - mysql - vue keretrendszer</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-3"></div>
			<div class="col-6 text-center">
				<a href="index.php#about" class="btn btn-primary">Leírás</a> 
			</div>
			<div class="col-3"></div>
		</div>
		<div class="row" style="height:50%"></div>
	</section>	
	<a name="about"></a>
	<div class="row about">
		<h1>Utopszkij_fw WEB programozási keretrendszer</h1>
		<h2>Áttekintés</h2>
		<div class="col-md-4">
			<img alt="images/utopszkij_fw.png" style="width:100%; margin:10px">
		</div>
		<div class="col-md-8">
			<ul>
				<li>PHP, MYSQL backend, vue frontend,</li>
				<li>bootstrap, fontawesome,</li>
				<li>MVC struktúra,</li>
				<li>objektum orientált php/mysql interface,</li>
				<li>több nyelvüség támogatása,</li>
				<li>login/logout/regist rendszer, Google és Facebook login támogatása,</li>
				<li>felhasználói Cookie engedélyezés/tiltás támogatása,</li>
				<li>usergroups rendszer,</li>
				<li>SEO url támogatása,</li>
				<li>aszinkron (scroll függő) kép betöltés,</li>
				<li>facebook megosztás támogatása,</li>
				<li>egyszerű telepíthetőség, nem szükséges konzol hozzáférés,</li>
				<li>verzió követés a github -ról, verzió függő adatbázis modosítás támogatása,</li>
				<li>php és vue unittest rendszer</li>
			</ul>	
		</div>
	</div>

	<section class="page-section" id="services">
		<div class="container px-4 px-lg-5">
			<h2 class="text-center mt-0">Kiemelt jellemzők</h2>
			<hr class="divider">
			<div class="row gx-4 gx-lg-5">
				<div class="col-lg-3 col-md-6 text-center">
					<div class="_mt-5">
						<a href="index.php?task=home.swdoc#__RefHeading___Toc149_953040041">
							<div class="mb-2">
								<img src="images/mysql-logo-1.svg" />
							</div>
							<h3 class="h4 mb-2">MYSQL</h3>
							<p class="text-muted mb-0">Laravel szerű MYSQL interfész</p>
						</a>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 text-center">
					<div class="_mt-5">
						<a href="index.php?task=home.swdoc#__RefHeading___Toc171_953040041">
							<div class="mb-2" style="font-size:30px; color:orangered; font-weight:bolder">
								MVC
							</div>
							<h3 class="h4 mb-2">MVC structura</h3>
							<p class="text-muted mb-0">Model - Viewer - Controller program szerkezet.</p>
						</a>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 text-center">
					<div class="_mt-5">
						<a href="index.php?task=home.swdoc#__RefHeading___multilanguage">
							<div class="mb-2">
								<img src="images/multi-language-system.png" />
							</div>
							<h3 class="h4 mb-2">Több nyelvüség</h3>
							<p class="text-muted mb-0">Nyelvi konstansok elkülönített fájlokban.</p>
						</a>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 text-center">
					<div class="_mt-5">
						<a href="index.php?task=home.swdoc#__RefHeading___Toc187_953040041">
							<div class="mb-2">
								<img src="images/upgrade.jpg" />
							</div>
							<h3 class="h4 mb-2">Autómatikus on-line frissités</h3>
							<p class="text-muted mb-0">Admin jogú userek a github -ról egy kattintással frissithetik a programot.</p>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="row download">
		<div class="col-5"></div>
		<div class="col-2 text-center">
				<a href="https://github.com/utopszkij/utopszkij_fw/archive/refs/heads/main.zip" 
				class="btn" style="color:white; border-style:solid; border-color:white">Letöltés</a> 
		</div>
		<div class="col-5"></div>
	</div>

	<div id="portfolio">
		<h3 class="text-center">Egyéb projektjeim</h3>
		<div class="container-fluid p-0">
			<div class="row g-0">
				<div class="col-lg-4 col-sm-6">
					<a class="portfolio-box" href="https://netpolgar.hu" title="Netpolgár">
						<img class="img-fluid" src="images/netpolgar-logo.png" alt="netpolgar">
						<div class="portfolio-box-caption">
							<div class="project-category text-white-50">NET-demokrácia</div>
							<div class="project-name">Netpolgár</div>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-sm-6">
					<a class="portfolio-box" href="https://befalom.hu" 
					   title="Szakácskönyv" style="background-color:silver">
						<img class="img-fluid" src="images/befalom-logo.png" alt="befalom.hu">
						<div class="portfolio-box-caption">
							<div class="project-category text-white-50">Gasztronómia</div>
							<div class="project-name">Szakácskönyv</div>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-sm-6">
					<a class="portfolio-box" href="https://maryland.siriusworld.hu/" title="Maryland">
						<img class="img-fluid" src="images/maryland-logo.jpg" alt="maryland">
						<div class="portfolio-box-caption">
							<div class="project-category text-white-50">Kreatív hobby</div>
							<div class="project-name">Maryland</div>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-sm-6">
					<a class="portfolio-box" href="https://raktar.siriusworld.hu" title="Raktár">
						<img class="img-fluid" src="images/raktar-logo.jpg" alt="Raktár">
						<div class="portfolio-box-caption">
							<div class="project-category text-white-50">Logisztika</div>
							<div class="project-name">Raktár kezelés</div>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-sm-6">
					<a class="portfolio-box" href="http://piac.infora.hu/index.php" title="Project Name">
						<img class="img-fluid" src="images/piac-logo.jpg" alt="piac">
						<div class="portfolio-box-caption">
							<div class="project-category text-white-50">piac</div>
							<div class="project-name">Piac szimuláció</div>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-sm-6">
					<a class="portfolio-box" href="https://magyardiplo.hu" title="Project Name">
						<img class="img-fluid" src="images/magyardiplo-logo.png" alt="magyardiplo">
						<div class="portfolio-box-caption p-3">
							<div class="project-category text-white-50">Net folyóirat</div>
							<div class="project-name">Magyar dipló</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="row message">
		<div class="col-12">
			<h2 style="color:black">Kapcsolat</h2>
			<label>A te E-mail címed:</label>
			<input type="text" id="myEmail" class="form-control" />
			<br />
			<label>A te neved:</label>
			<input type="text" id="myName" class="form-control" />
			<br />
			<label>Üzenet:</label>
			<textarea cols="60" rows="10" id="emailBody" class="form-control"></textarea>
		</div>
		<div class="col-12">&nbsp;</div>
		<div class="col-5"></div>
		<div class="col-2"><button type="button" v-on:click="send" class="btn btn-primary">
			<em class="fas fa-envelope"></em>Küld</button>
		</div>
		<div class="col-5"></div>
	</div>	

</div>	

<script>
	methods = {
		afterMount() {
			document.getElementById('imgHead').style.height = window.innerHeight+'px';
		},
		send() {
			document.location='mailto:tibor.fogler@gmail.com'+
			'?subject=kapcsolatfelvetel utopszkij_fw'+
			'&body='+$('#emailBody').val().replace(/\n/,'%0A')+
			"%0A"+$('#myName').val()+
			"%0A"+$('#myEmail').val();
		}		
	};
</script>
