<div id="description">
	<div class="row">
		<h1>Utopszkij_fw WEB programozási keretrendszer</h1>
		<h2>Áttekintés</h2>
		<div class="col-md-4">
			<img src="images/utopszkij_fw.png" style="width:100%; margin:10px">
		</div>
		<div class="col-md-8">
			<ul>
				<li>PHP, MYSQL backend, vue frontend,</li>
				<li>bootstrap, fontawesome,</li>
				<li>MVC struktúra,</li>
				<li>több nyelvüség támogatása,</li>
				<li>login/logout/regist rendszer, Google és Facebook login támogatása,</li>
				<li>usergroups rendszer,</li>
				<li>SEO url támogatása,</li>
				<li>facebook megosztás támogatása,</li>
				<li>egszerű telepíthetőség, nem szükséges konzol hozzáférés,</li>
				<li>verzió követés a github -ról.</li>
			</ul>	
		</div>
	</div>
</div>	