<div class="row" id="gauthenticator">
    <div class="col-12">
    <form method="post" action="index.php" class="form">
        <input type="hidden" name="task" value="user.gauthcheck" />
        <h2>{{ lng('TWOFACTOR') }}</h2>
        <label>Kulcs /key (6 number):&nbsp;</label>
        <input type="number" name="oneCode" id="oneCode" class="form-control"/>&nbsp;
        <button type="submit" class="btn btn-primary">Rendben</button>
    </form>
    </div>
</div>

<script>
    methods={
        afterMount() {
            $('#oneCode').focus();
        }
    };
</script>