// Javascript (vue) include a ...manager.html -be: showPaginator { ide van includolva },
var pageCount = Math.round((this.total / this.limit) + 0.5);
page = parseInt(page); // azért, hogy biztosan számolni lehessen vele
var pointCounter = 0; // megjelenitett '.' számláló
var k = (window.innerWidth * 0.6) / 36; // össesen ennyi .paginatorItem fér ki
k = (k - 5) / 2; // az aktuáis elemtől jobbra/balra ennyi fér ki.
if (page == 1) {
    k = k + 2; // mivel nincs az első két elem; lehet több is
} 
if (page == pageCount) {
    k = k + 2; // mivel nincs az utolsó két elem; lehet több is
} 
var s=lng('TOTAL')+':'+this.total+'<br /><ul class="paginator">';
if (pageCount > 1) {    
    if (page > 1) {	
        s += '<li><span class="paginatorItem"><var onclick="app.page = 1; app.listClick()" title="első">&lt;&lt;</var></span></li>';
        s += '<li><span class="paginatorItem"><var onclick="app.page = '+(page - 1)+'; app.listClick()" title="elöző">&lt;</var></span></li>';
    }
    var p = 1;
    while (p <= pageCount) {
        if (p == page) {
            s += '<li><input id="goPage" type="text" value="'+p+'" size="2"'+
            ' onchange="app.page = $(\'#goPage\').val(); app.listClick();" /></li>';
            pointCounter = 0;
        } else {
            if (((p >= (page - k)) & (p < page)) | 
                ((p <= (page + k)) & (p > page))) {	
                s += '<li><span class="paginatorItem" onclick="app.page = '+p+'; app.listClick()" title="'+p+'">'+p+'</span></li>';
            } else {
                if (pointCounter == 0) {
                    s += '<li class="kimarad">.</li>';
                    pointCounter = pointCounter + 1;
                }
            }	
        }	
        p = p + 1;
    }
    if (page < pageCount) {
        s += '<li><span class="paginatorItem"><var onclick="app.page = '+(page + 1)+'; app.listClick()" title="következő">&gt;</var></span></li>';
        s += '<li><span class="paginatorItem"><var onclick="app.page = '+pageCount+'; app.listClick()" title="utolsó">&gt;&gt;</var></span></li>';
    }
}
$('#paginator').html(s);
