<div id="sponzor">
    <h2>Ez a program ingyenesen használható. Szabadon másolható, terjeszthető.</h2>
    <p>A programot hobbyként, saját örömömre fejlesztettem.</p>
    <p>Természetesen ha hasznosnak tartod a munkámat, és ezt némi KP-vel 
        honorálni akarod, azt szivesen elfogadom. A legkisebb összegnek is örülök.</p>
    <p>Átutaláshoz okostelefonodon, QR-kodos fizetésre alakalmas app-ban olvasd be az alábbi képet:</p>    
    <img src="images/sponzor.png" style="width:300px" />
    <p>Ha emailben megírod nekem a neved és az átutalt összget és az utalás dátumát; akkor
        feltüntetlek az impresszum oldalon mint "támogatót"-t.
    </p>
</div>